{% load static %}

<!doctype html>
<html lang="en">
  <head>
  	<title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'login/css/style.css' %}">

	</head>
	<body class="img js-fullheight" style="background-image: url({% static 'login/images/bg.jpg' %});">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Password reset sent</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h6 class="mb-4 text-center" style="color: #fff">
                We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</h6>
	          </form>

              			<div class="w-50 text-md-right">
							<a href="/">Go To Homepage</a>
						</div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'login/js/jquery.min.js' %}"></script>
  <script src="{% static 'login/js/popper.js' %}"></script>
  <script src="{% static 'login/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'login/js/main.js' %}"></script>

	</body>
</html>

